speechrecognition/data
speechrecognition/references
speechrecognition/reports/notes
speechrecognition/reports/research_plan
speechrecognition/reports/presentation

gradu.synctex.gz
gradu.run.xml
gradu.toc
gradu.out
gradu.lot
gradu.log
gradu.lof
gradu.fls
gradu.fdb_latexmk
gradu.blg
gradu.bcf
gradu.bbl
gradu.aux

.vscode
.git
.ipynb_checkpoints
__pycache__
workspace.code-workspace
speechrecognition/.gitignore

