data/
references/
speechrecognition/.gitignore
ALquip_net.R
correlation.R
quip_net.R
muistiinpanot.md

htmlcov/
*.synctex.gz
*.run.xml
*.toc
*.out
*.lot
*.log
*.lof
*.fls
*.fdb_latexmk
*.blg
*.bcf
*.bbl
*.aux
*.dvi
*.pdf
.ipynb_checkpoints/
__pycache__/
.vscode/
.Rhistory
.devcontainer/devcontainer.json
*.code-workspace
.coverage
